

header{
    background-color: var(--amarillo);
    padding-bottom: 15px;

}
header img{
    margin-left: 20px;
    margin-top: -40px;
    margin-bottom: -70px;
}
header .encabezado{
    display: flex;
}
.logo{
    width: 50%;
}

.barraCompleta{
    display: flex;
    align-items: center;
    width: 50%;
}
.barra-busqueda{
    font-size-adjust: 80px;
}
.lupa{
    outline-style: solid;
    outline-color: var(--grisOscuro);
    outline-width: thin ;
    background-color: white;
    margin-left: -15px;
    height: 19px;
    margin-top: 1px;
}
header .h3{
    display: flex;
    justify-content: center;
    margin-left: 23px;
    font-size: 12px;
    align-items: center;
}

.menu-header{
    display: flex;
    flex-direction: row;

}
header .menuLeft{
    display: flex;
}

.menuRigth{
    display: flex;
}

header nav ul li a{
    display: inline-block;
    font-size: 12px;
    color: black;
    text-decoration: none;   
    margin-left: -40px;
}
header nav ul li{
    list-style: none;
}
header nav ul li i{
    margin-left: 5px;
}
.burguer-menu{
    text-align: center;
    display: inline-block;
    width: 30px;
    background-color: var(--celeste);
    color: white;
    padding: 8px;
    border-radius: 4px;
    margin-left: 120px;

}

main{
    width: 90%;    
}

.titulares{
    font-size: 24px;
}

.articulos{
    background-color: var(--grisClaro);
    padding: 15px;
}

.producto{
    display: inline-block;
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
}
.producto img{
    width: 70%;
    height: 70%;
}

.detalleProducto{
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
}

.detalleProducto i{
    color: var(--verde);
    border: solid 1px var(--verdeOscuro);
    border-radius: 50%;
    padding: 5px;    
    text-align: right;
   
 }

.precio{
    font-size: 18px;
    width: 30%;
    
}

.descuento{
    
    color: var(--verdeOscuro);
    width: 70%;
    display: flex;
    justify-content: center;
}
.precioDescuento{
    font-size: 18px;
    display: flex;
    
}

.descripcion{
    color: var(--grisOscuro);
}

footer{
    text-align: center;
    font-size: 16px;
    color: var(--grisOscuro);
}    

footer section i{
    font-size: 30px;
    color: var(--celeste);
}

@media (max-width: 360px) {
    .menu-header{
        display: none;
    }
    main{
        margin-left: 10px;
    }
    .descripcion{
        display: none;
    }    
}
@media (min-width: 361px) {
    .burguer-menu{
        display: none;
    }
    .encabezadoTablet{
        display: flex;
        
        flex-wrap: nowrap;
    }
    .producto{
      box-shadow: 0px 0px 10px rgb( 100 , 100 , 100 );  
      width: 48%;
    }
    
  
    main{
        
        width: 90%;
        margin-left: 5%;
    }
    
}

@media (min-width: 769px) {
    .burguer-menu{
        display: none;
    }
    .producto{
        box-shadow: 0px 0px 10px rgb ( 100 , 100 , 100 );
        width: 21%;
    }
    
    
}